@page "/CreateAuthor"
@using AuthorBlazor.Data
@using Microsoft.AspNetCore.Components
@using Model
@inject NavigationManager NavigationManager
@inject IAdultController AdultController

<h3>CreateAuthor</h3>

<EditForm Model="@newAuthor" OnValidSubmit="@AddNewAuthor">
    <DataAnnotationsValidator/> <ValidationSummary/>
    <div class="form-group"> FirstName:<br/> <InputText @bind-Value="newAuthor.FirsName"/> </div>
    <div class="form-group"> LastName:<br/> <InputText rows="4" @bind-Value="newAuthor.LastName"/> </div>
    <p class="actions"> <button class="btn btn-outline-dark" type="submit">Create</button> </p>
</EditForm>

@code {
    private Author newAuthor = new Author();
    
    private void AddNewAuthor()
    {
        newAuthor.Books = new List<Book>();
        AdultController.AddAuthor(newAuthor);
        NavigationManager.NavigateTo("/");
    }
}